<!-- <h4>Edit</h4> -->
<mat-dialog-content>
  <!-- <form [formGroup]="country"> -->
  <!-- https://pronteff.com/building-a-reusable-string-input-component-in-angular-v17/ -->

  <!-- country name -->

  <!-- <mat-form-field appearance="outline" class="form-field">
    <mat-label>Name</mat-label>
    <input
      matInput
      formControlName="name"
      placeholder="country name"
      required
    />
    <mat-error *ngIf="countryForm.get('name')?.hasError('required')"
      >code required</mat-error
    >
    <mat-error *ngIf="countryForm.get('name')?.hasError('maxlength')"
      >code maximum length is 15</mat-error
    >
  </mat-form-field> -->

  <!-- country code -->
  <!-- <mat-form-field appearance="outline" class="form-field">
    <mat-label>Code</mat-label>
    <input
      matInput
      formControlName="code"
      placeholder="country code"
      required
      oninput="this.value=value.toUpperCase()"
    />
    <mat-error *ngIf="countryForm.get('code')?.hasError('required')"
      >code required</mat-error
    >
    <mat-error *ngIf="countryForm.get('code')?.hasError('minlength')"
      >code minimum length is 2</mat-error
    >
    <mat-error *ngIf="countryForm.get('code')?.hasError('maxlength')"
      >code maximum length is 3</mat-error
    >
  </mat-form-field> -->

  <!-- class="flex sm:flex-col w-2/3 py-1 px-1 ml-2 text-error" -->
  <!-- <div
    *ngIf="countryForm?.get('flag')?.hasError('required')"
    class="flex sm:flex-col w-full py1-1 px1-1 ml1-2 text-error"
  >
    <span class="p-1"
      >country flag required <i class="fa-solid fa-exclamation py-2.5 px-1"></i
    ></span>
  </div> -->
</mat-dialog-content>
<!-- <mat-dialog-actions>
  <button mat-flat-button mt-dialog-close>Save</button>
  <button mat-flat-button mt-dialog-close>Cancel</button>
</mat-dialog-actions> -->
