<!-- angular material table -->
<div class="container mt1-3 bg-transparent">
  <div class="flex flex-row justify-between">
    <div class="w-full flex flex-col">
      <div style1="border: 2px solid red">
        <div>
          <mat-form-field
            appearance="outline"
            class="form-field"
            [hidden]="!banks"
            class="mat-form-field1 filter"
          >
            <mat-radio-group
              aria-labelledby="radio-group-label"
              class="radio-group"
              formControlName="baseCurr"
            >
              <div>
                <label id="radio-group-label"
                  >Select column name to filter :
                </label>
                <mat-radio-button
                  (change)="radioChange($event)"
                  value="name"
                  class="radio-button shadow-effects"
                  checked="name"
                >
                  Name
                </mat-radio-button>
              </div>
            </mat-radio-group>
            <div class="flex flex-row content-between">
              <input
                class="filter"
                matInput
                #filter
                [placeholder]="placeholder"
                (keyup)="filterChanged.next(filter.value)"
              />

              <button
                mat-flat-button
                color="primary"
                class="main-submit-button shadow-effects"
                (click)="addEntry(newBank)"
              >
                <mat-icon>fiber_new</mat-icon>
                Add
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>

      <table
        mat-table
        [dataSource]="entries"
        class="mat-elevation-z8"
        matSort
        [matSortActive]="defaultSortColumn"
        [matSortDirection]="defaultSortOrder"
        (matSortChange)="loadEntries(this.filterQuery!)"
      >
        <ng-container matColumnDef="bankCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank code</th>
          <td mat-cell *matCellDef="let bank">{{ bank.bankCode }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let bank">
            <button
              mat-flat-button
              class="linkButton"
              (click)="editEntry(bank)"
            >
              {{ bank.name }}
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="telephoneNos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tel. Nos</th>
          <td mat-cell *matCellDef="let bank">{{ bank.telephoneNos }}</td>
        </ng-container>

        <ng-container matColumnDef="swiftCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Swift Code</th>
          <td mat-cell *matCellDef="let bank"></td>
        </ng-container>

        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
          <td mat-cell *matCellDef="let bank">{{ bank.currencyCode }}</td>
        </ng-container>

        <ng-container matColumnDef="loanLimit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Loan Limit</th>
          <td mat-cell *matCellDef="let bank">{{ bank.loanLimit }}</td>
        </ng-container>

        <ng-conatiner matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let bank">
            <button
              mat-flat-button
              class="linkButton"
              (click)="deleteCountry(bank)"
            >
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          </td>
        </ng-conatiner>

        <tr
          mat-header-row
          *matHeaderRowDef="columnsToDisplay"
          matHeaderRowDefSticky="true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>

      <div style="height: 20px"></div>
      <mat-paginator
        (page)="getEntries($event)"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>
