* {
  font-size: 13px;
}

.sideButton {
}

.main-container {
  display: flex;
  flex-direction: row;
}

.click-button {
  height: 100%;
  width: 40px;
  vertical-align: auto;
  background-color: black;
  color: #fff;
}
.plMenuCSS {
  max-width: 500px;
  background-color: lightgreen;
}

button:hover {
  background-color: #000;
  color: rgb(249 115 22 / 1);
}
