<div class="shadow-effects1 shadow-black">
  <mat-dialog-content class="">
    <form [formGroup]="addressForm">
      <!-- <p>
        <mat-error *ngIf="addressForm.hasError('isDuplicateUnit') && !edit">
          <strong>ERROR: </strong>unit code,
          <i>{{ addressForm.get("code")?.value }}</i
          >, exist.
        </mat-error>
      </p> -->

      <div>
        <!-- address type -->

        <mat-form-field
          *ngIf="addressTypeList"
          appearance="outline"
          class="form-field"
        >
          <mat-label>Select Address Type</mat-label>
          <mat-select id="addressType" formControlName="addressType">
            <mat-option *ngFor="let type of addressTypeList" [value]="type.key">
              {{ type.val }}
            </mat-option>
          </mat-select>

          <mat-error
            *ngIf="addressForm.get('addressType')?.hasError('required')"
          >
            Please select Addres Type
          </mat-error>
          <mat-hint>click the drop down list</mat-hint>
        </mat-form-field>

        <!--  street Address -->

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Street Address</mat-label>
          <input
            matInput
            formControlName="streetAddress"
            placeholder="Street Address"
            required
          />
          <mat-error
            *ngIf="addressForm.get('streetAddress')?.hasError('required')"
            >Address required</mat-error
          >
          <mat-error
            *ngIf="addressForm.get('streetAddress')?.hasError('maxlength')"
            >Street address maximum length is 300</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <!-- City -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" placeholder="City" />
          <mat-error *ngIf="addressForm.get('city')?.hasError('required')"
            >City required</mat-error
          >

          <mat-error *ngIf="addressForm.get('city')?.hasError('maxlength')"
            >city maximum length is 200</mat-error
          >
        </mat-form-field>

        <!-- postcode -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Post Code</mat-label>
          <input matInput formControlName="postCode" placeholder="Post code" />
          <mat-error *ngIf="addressForm.get('postCode')?.hasError('required')"
            >Post Code required</mat-error
          >

          <mat-error *ngIf="addressForm.get('postCode')?.hasError('maxlength')"
            >Post Code maximum length is 5</mat-error
          >
        </mat-form-field>

        <!-- default -->
      </div>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Active Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="form-field">
            <mat-label
              ><small
                >You can set active only for one address.</small
              ></mat-label
            >
            <mat-radio-group
              aria-labelledby="radio-group-label"
              class="radio-group"
              formControlName="default"
            >
              <mat-radio-button
                [value]="true"
                class="radio-button shadow-effects"
                (change)="radioChange($event)"
              >
                Yes
              </mat-radio-button>
              <mat-radio-button
                class="radio-button"
                [value]="false"
                (change)="radioChange($event)"
              >
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-card-content>
      </mat-card>

      <div>
        <!-- State -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>State</mat-label>
          <input matInput formControlName="state" placeholder="Sate" />
          <mat-error *ngIf="addressForm.get('state')?.hasError('required')"
            >State required</mat-error
          >

          <mat-error *ngIf="addressForm.get('state')?.hasError('maxlength')"
            >state maximum length is 5</mat-error
          >
        </mat-form-field>

        <!-- country -->
        <mat-form-field
          *ngIf="countries"
          appearance="outline"
          class="form-field"
        >
          <mat-label> Select a Country</mat-label>
          <mat-select id="countryCode" formControlName="countryCode">
            <mat-option
              *ngFor="let country of countries"
              [value]="country.code"
            >
              <div class="flex flex-row w-full">
                <div class="countryname-wrapper">
                  {{ country.name }}
                </div>
                <div class="image-wrapper">
                  <img
                    src="{{ imageDataUrl(country.flag) }}"
                    alt="flag of {{ country.name }}"
                  />
                </div>
              </div>
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="addressForm.get('countryCode')?.hasError('required')"
          >
            Please select Country
          </mat-error>
          <mat-hint>click the drop down list</mat-hint>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="flex w-full content-center justify-between mt-3">
      <div class="w-1/3"></div>
      <div class="w-full flex flex-row justify-center">
        <button
          mat-flat-button
          color="primary"
          class="main-submit-button shadow-effects"
          [disabled]="!addressForm.valid"
          (click)="submitEntry(addressForm.value)"
        >
          <mat-icon>save</mat-icon>
          {{ caption }}
        </button>
        <button
          mat-flat-button
          color="primary"
          class="main-submit-button shadow-effects"
          (click)="closeDialog()"
        >
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
      </div>
      <div class="w-1/3"></div>
    </div>
  </mat-dialog-actions>
</div>

<!-- 
<form [formGroup]="addressForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Shipping Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Company" formControlName="company" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              matInput
              placeholder="First name"
              formControlName="firstName"
            />
            <mat-error
              *ngIf="addressForm.controls['firstName'].hasError('required')"
            >
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input
              matInput
              placeholder="Last name"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="addressForm.controls['lastName'].hasError('required')"
            >
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <textarea
              matInput
              placeholder="Address"
              formControlName="address"
            ></textarea>
            <mat-error
              *ngIf="addressForm.controls['address'].hasError('required')"
            >
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form> -->
