mat-form-field {
  display: block;
  margin: 10px 0;
}

.shadow-effects {
  box-shadow: 0 0 33px -10px rgb(71, 114, 254, 0.3);
}

.main-submit-button {
  background-color: #3b82f6;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  padding: 0.25rem 1.5rem;
  border: 1px solid #000;
}

.filter {
  background-color: #fff;
}

.radio-group {
  display: flex;
  flex-direction: row;
  margin: 5px 15px;
  align-items: flex-start;
  font-size: small;
}

.radio-button {
  margin: 5px;
  font-size: small;
}
