<div class="container">
  <h4
    class="text-xl text-green-9501 bg-[#85c1e9] text-center mb-2 shadow-gray-400 border shadow-xl rounded-xl"
  >
    Country Reference
  </h4>
</div>

<div class="container">
  <div class="flex flex-row justify-around mt-6">
    <div class="w-1/5" style1="border: 2px solid red"></div>
    <div
      class="w-3/5 px-5 py-5 shadow-gray-400 shadow-xl rounded-xl"
      [hidden]="this.visibleDialog"
    >
      <mat-dialog-content>
        <div class="flex flex-col content-center">
          <!-- <div class="text-center bg-[#fff] text1-black">
          <h4 class="text-primary bg-[#fff]">Country</h4>
        </div> -->
          <h5>Country :</h5>
          <div class="w-full">
            <form [formGroup]="countryForm">
              <!-- https://pronteff.com/building-a-reusable-string-input-component-in-angular-v17/ -->

              <!-- country name -->

              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="country name"
                  required
                />
                <mat-error *ngIf="countryForm.get('name')?.hasError('required')"
                  >code required</mat-error
                >
                <mat-error
                  *ngIf="countryForm.get('name')?.hasError('maxlength')"
                  >code maximum length is 15</mat-error
                >
              </mat-form-field>

              <!-- country code -->
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Code</mat-label>
                <input
                  matInput
                  formControlName="code"
                  placeholder="country code"
                  required
                  oninput="this.value=value.toUpperCase()"
                />
                <mat-error *ngIf="countryForm.get('code')?.hasError('required')"
                  >code required</mat-error
                >
                <mat-error
                  *ngIf="countryForm.get('code')?.hasError('minlength')"
                  >code minimum length is 2</mat-error
                >
                <mat-error
                  *ngIf="countryForm.get('code')?.hasError('maxlength')"
                  >code maximum length is 3</mat-error
                >
              </mat-form-field>

              <!-- country Flag -->

              <div class="form-group my-3" style1="border: 4px solid red">
                <div
                  class="form-group flex flex1-col w-1/3 my-3 justify-around1 m-auto"
                  style1="border: 4px solid red"
                >
                  <img
                    [src]="imgSrc"
                    src="../../../assets/Image-place-holder.png"
                    class="form-control img-fluid img-preview m-auto max-h-30 bg-white border-primary rounded-sm shadow-effects"
                  />
                </div>

                <div
                  class="flex sm:flex-col w-full my-2 h-8"
                  style1="border: 4px solid orange"
                >
                  <input
                    type="file"
                    accept="Image/*"
                    (change)="updateImage($event)"
                    class="form-control w1-2 flex h-auto m-auto border-[1px] border-primary rounded-sm shadow-effects"
                    formControlName="flag"
                    placeholder="Flag"
                    [class.text-error]="
                      countryForm.get('flag')?.errors &&
                      countryForm.get('flag')?.touched
                    "
                  />
                </div>
                <!-- class="flex sm:flex-col w-2/3 py-1 px-1 ml-2 text-error" -->
                <div
                  *ngIf="countryForm?.get('flag')?.hasError('required')"
                  class="flex sm:flex-col w-full py1-1 px1-1 ml1-2 text-error"
                >
                  <span class="p-1"
                    >country flag required
                    <i class="fa-solid fa-exclamation py-2.5 px-1"></i
                  ></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-dialog-content>
      <div>
        <mat-dialog-actions>
          <div class="flex w-full content-center justify-between mt-5">
            <div class="w-3/12"></div>
            <div class="w-full flex flex-row justify-between">
              <button
                mat-flat-button
                color="primary"
                class="main-submit-button shadow-effects"
                (click)="onEdit(country.code, country.name)"
                [disabled]="!countryForm.valid"
              >
                <mat-icon>save</mat-icon>
                {{ caption }}
              </button>
              <button
                mat-flat-button
                color="primary"
                class="main-submit-button shadow-effects"
                (click)="onEdit(country.code, country.name)"
              >
                <mat-icon>cancel</mat-icon>
                Cancel
              </button>
            </div>
            <div class="w-3/12"></div>
          </div>
        </mat-dialog-actions>
      </div>
    </div>
    <div class="w-1/5" style1="border: 4px solid red"></div>
  </div>
</div>

<!-- angular material table -->
<div class="container mt-3" [hidden]="false">
  <div class="flex flex-row justify-between">
    <div class="w-full flex flex-col">
      <div style1="border: 2px solid red">
        <div>
          <mat-form-field
            appearance="outline"
            class="form-field"
            [hidden]="!countries"
            class="mat-form-field1 filter"
          >
            <mat-radio-group
              aria-labelledby="radio-group-label"
              class="radio-group"
              formControlName="baseCurr"
            >
              <div>
                <label id="radio-group-label"
                  >Select column name to filter :
                </label>
                <mat-radio-button
                  (change)="radioChange($event)"
                  value="name"
                  class="radio-button shadow-effects"
                >
                  Name
                </mat-radio-button>
                <mat-radio-button
                  (change)="radioChange($event)"
                  class="radio-button"
                  value="code"
                >
                  Code
                </mat-radio-button>
              </div>
            </mat-radio-group>

            <input
              class="filter"
              matInput
              #filter
              [placeholder]="placeholder"
              (keyup)="filterChanged.next(filter.value)"
            />
          </mat-form-field>
        </div>
      </div>
      <table
        mat-table
        [dataSource]="countries"
        class="mat-elevation-z8"
        matSort
        [matSortActive]="defaultSortColumn"
        [matSortDirection]="defaultSortOrder"
        (matSortChange)="loadCountries(this.filterQuery!)"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let country">{{ country.id }}</td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let country">{{ country.code }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let country">
            <button mat-flat-button class="linkButton" (click)="openDialog()">
              {{ country.name }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="flag">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Flag</th>
          <td mat-cell *matCellDef="let country">
            <img
              class="w-10 h-auto"
              src="{{ imageDataUrl(country.flag) }}"
              alt="flag of {{ country.name }}"
            />
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
      </table>
      <div style="height: 20px"></div>
      <mat-paginator
        (page)="getCountries($event)"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>
<!-- 
<div [hidden]="this.visibleDialog">
  <h4>Country Table</h4>
  <app-country-table [countries]="this.countries"></app-country-table>
</div> -->
