<router-outlet></router-outlet>
<!-- 
<div>
  <div>
    <img src="" alt="" />

    Apparel Pro is a apparel Industry total solution for every needs. It has
    many modules.

    <ul class="flex flex-col text-3xl">
      <li>Reference Files</li>
      <li>Order Management</li>
      <li>General Inventory</li>
      <li>Order Wise Invesntory</li>
      <li>Export/Import Documentation</li>
      <li>Production Management</li>
      <li>Style/Size Breakdown</li>
      <li>Reports</li>
    </ul>
  </div>
</div> -->
